
@{
    ViewBag.Title = "Erreur Interne";
}

<div class="error"></div>

<style>
    .error {
        padding-top: 60%;
        background-size: 100% auto;
        background-image: url("../../Content/img/500.png");
    }
</style>

