
@{
    ViewBag.Title = "Page Non trouvé";
}
<div class="error"></div>

<style>
    .error{
        padding-top: 45%;
        background-size: 100% auto;
        background-image : url("../../Content/img/404.png")
    }
</style>
