@model IEnumerable<ExpanseReportManager.Models.PoleViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des Pole</h2>

<p>
    @Html.ActionLink("Créer un pole", "Create", null, new { @class = "btn btn-raised btn-success" })
</p>

<div>
    @Html.Partial("_TableList", Model)
</div>
