@model IEnumerable<ExpanseReportManager.Models.ExpanseReportViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des notes de frais</h2>

<p>
    @Html.ActionLink("Créer une note de frais", "Create", "ExpanseReport", null, new { @class = "btn btn-raised btn-success" })
</p>

@using (Ajax.BeginForm("Search", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "expanseTypes-table",
    OnFailure = "failedSearch"
}))
{
    <div class="form-group">
        <input type="text" name="query" id="query" class="form-control" placeholder="Rechercher..." />
        <button type="submit" class="btn btn-fab btn-success btn-fab-mini">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    </div>
}

<div id="expanseTypes-table">
    @Html.Partial("_TableList", Model)
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".modal-delete").click(function () {
                $($(this).attr("data-target")).modal();
            });
        });
    </script>
}
